
{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="profile">
        <img src="{{ asset('images/avatar1.png') }}" alt="Avatar 1">
        <img src="{{ asset('images/avatar2.png') }}" alt="Avatar 2">
        <!-- Other profile content -->
    </div>
{% endblock %}