{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <style>
        .wrapper form .row select {
            height: 100%;
            width: 100%;
            outline: none;
            padding-left: 70px;
            border-radius: 5px;
            border: 1px solid lightgrey;
            font-size: 18px;
            transition: all 0.3s ease;
            appearance: none;
            background: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="%23999" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"/></svg>') no-repeat right 10px center;
            background-color: #fff;
        }

        form .row select:focus {
            border-color: #16a085;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="title"><span>Register</span></div>
        <form method="POST" action="{{ path('app_register') }}">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" name="nom" placeholder="Nom" required />
            </div>
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" name="prenom" placeholder="Prenom" required />
            </div>
            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="row">
                <i class="fas fa-user-tag"></i>
                <select name="role" required>
                    <option value="ROLE_USER">User</option>
                    <option value="ROLE_ADMIN">Admin</option>
                    <option value="ROLE_FREELANCER">Freelancer</option>
                </select>
            </div>
            <div class="row button">
                <input type="submit" value="Register" />
            </div>
            <div class="signup-link">
                Already have an account? <a href="{{ path('app_login') }}">Login</a>
            </div>
        </form>
    </div>
{% endblock %}
